.wrapper {
    width: 1400px;
    margin: 130px auto;
    text-align: center;
}

.product-img {
    display: flex;
    gap: 24px;
}


.product-img div {
    width: 260px;
    height: 260px;
}

.product-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.section-header {
    font-size: 30px;
    font-weight: bold;
}
.sns-img {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 50px;
}
.sns-img a::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    /* background-color: gray; */
    background-image: url(../img/sns_more_btn.png);
    object-fit: cover;
    opacity: 0.6;
}

.insta::after {
    background-position: 0px 0px;
}
.youtube::after {
    background-position: -50px 0px;
}
.blog::after {
    background-position: -100px 0px;
}
.fb::after {
    background-position: -150px 0px;
}
.naver::after {
    background-position: -200px 0px;
}

.section-sub-text{
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: 500;
}

.bottom-banner {
    margin-top: 100px;
    /* object-fit: cover; */
}