/* 에몬스로 달라진 일상 섹션 */
.section-review {
    display: block;
    padding: 100px 0;
    background-color: #f3f4f6;
    width: 100%;
    height: auto;
    font-family: 'Noto Sans KR', '맑은고딕', sans-serif;
}

.section-review h2 {
    text-align: center;
    font-size: 28px;
}

/* 리뷰 카드 이전, 이후 화살표 버튼 */
.btn-previous {
    background-image: url(./images/arrow.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 60px;
    margin-right: 10px;
}

.btn-next {
    background-image: url(./images/arrow.png);
    background-repeat: no-repeat;
    transform: scaleX(-1);
    width: 30px;
    height: 60px;
    margin-left: 10px;
}

/* /리뷰 카드 이전, 이후 화살표 버튼 */


/* 리뷰 카드 */
.wrap-review-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-card {
    word-wrap: break-word;
    word-break: keep-all;
    width: 320px;
    height: auto;
    background-color: #fff;
}

.card-hidden {
    display: none;
}

/* 사진 리뷰 */

.review-card-detail {
    text-decoration: none;
    color: inherit;
}

.review-card-detail:hover {
    color: inherit;
}

.review-card-text {
    height: 50px;
}


/* /사진 리뷰 */

/* 리뷰에 해당하는 제품 */
.review-card-prod-img {
    width: 80px;
    height: 80px;
}

.btn-like {
    background-color: transparent;
    border: none;
    padding: 0;
}

.btn-like img {
    width: 20px;
    height: 20px;
    padding: 0;
    margin-right: 15px;
}

.review-prod-name,
.review-prod-price {
    clear: both;
    max-width: 190px;
    font-size: 13px;
}

/* /리뷰에 해당하는 제품 */

/* /리뷰 카드 */

@media (max-width: 1400px) {

    .wrap-review-card {
        overflow-x: auto;
        min-width: 100%;
    }

    .card-hidden {
        display: block;
    }

    .btn-previous,
    .btn-next {
        visibility: hidden;
    }
}










/* /에몬스로 달라진 일상 섹션 */